<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :Name, class: "font-weight-bold" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price, class: "font-weight-bold" %>
    <%= form.text_field :price,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category, class: "font-weight-bold" %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, { prompt: "Select a Category", selected: @product.category_id }, { required: true, class: "form-control" })%>
  </div>
  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
